
.sidebar{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    border-right: 1px solid gray;
    flex-direction: column;
    align-items: center;
    display: flex;

    ul{
        list-style: none;
        padding: 1rem 2rem;
        height: calc(90% - 60px);
        overflow-y: auto;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        flex: 1;
        justify-content: center;
        li{
            margin-bottom: 1rem;
            width: 100%; 
        }
        a{
            text-decoration: none;
            width: 100%; 
        }
    }
}

.contenido-gerente{
    display: flex;
    height: 100vh;
}

#aside{
    width: 20%;
}

#section{
    background-color: #fff;
    width: 80%;
}

.boton-barra{
    width: 100%;
    display: block;
    margin-bottom: 5px;
    border: none;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 25%;
}

.perfil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerrar-sesion {
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: auto;
    width: 100%; 
    text-align: center;
}

.foto-user{
    font-size: 100px;
}
