/*Encabezado*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}

/*logo*/
.logo {
    order: 1;
}

/*Inicio navegación*/
#navegacion {
    order: 2;
    text-align: center;
}

#navegacion ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#navegacion li {
    margin: 0 20px;
}

#navegacion a {
    text-decoration: none;
    color: #fff; 
}

#imagen {
    width: 130px;
}

/*fin encabezado*/


footer {
    background-color: black;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    display: inline-block;
    vertical-align: top;
    width: 48%; 
    padding: 0 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}